* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #5b86e5, #36d1dc);
  color: white;
}

h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

#gameCanvas {
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  margin-bottom: 20px;
}

#score {
  font-size: 20px;
  margin-bottom: 15px;
}

button {
  padding: 10px 18px;
  background-color: #ffcc66;
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #ffe399;
}
